<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cardif Metropolitan University</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Cardif Metropolitan University</a>

        <ul class="navbar navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'firstApplication:form' %}" class="nav-link">Add Students</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:8000/admin" target="_blank" class="nav-link">Admin pannel</a></li>
           
        </ul>
    </nav>
<!--   navbar end here -->

<!--    dic tion text-->
    <h1 class="text-center mt-5 card card-header">{{ textOne }}</h1>

  

   <section class="py-4">
       <div class="container">
            <table class="table table-bordered table-striped">
        <tr class="bg-dark text-white text-center">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address </th>
                <th>Cell</th>
                
                
        </tr>
                <tr>
                {% for student in student %}
                    <td>{{ student.First_Name }}</td>
                    <td>{{ student.Last_Name }}</td>
                    <td>{{ student.Address }}</td>
                    <td>{{ student.cell }}</td>
                    
                </tr>
                {% endfor %}
    </table>
       </div>
   </section>

















































<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
