h1{
    color:blue;
    margin-bottom: 50px;
    display: block;
}
img{
    width: 100%;
    margin: auto;
    display: block;
    height: 550px;
}
td{
    text-transform:capitalize;
    text-align:center;
}
.elbe{
    margin-left:450px;
}
